.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: black;
}
.ex-2-square {
    transition-property: width;
    transition-duration: 2s;   
}
.ex-2-square:active {
    width: 500px;
    
}

.ex-3-square {
    transition: border-radius;
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 50px;
}
.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover {
    opacity: 0;
}


.ex-5-square {
    transition: 3s;
}
.ex-5-square {
    transform: scale(-0.5);
}
.ex-5-square:hover {
    transform: scale(2);
    
}

.ex-6-img {
    transition: 2s;
}
.ex-6-img:hover {
        filter: grayscale(1);
}

.ex-7-img {
    transition: 2s;
}
.ex-7-img:hover {
    filter: grayscale(.3) invert(.3);
}

.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: grayscale(.5) invert(.1);
    border-radius: 10px;
}

.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    border-radius: 10px;
    filter: grayscale(.5) invert(.3);
    transform: scale(-1);
}

.ex-10-icon {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(-1turn);
    }
}

.ex-11-icon:hover {
    animation: spin2 2s linear;
}
@keyframes spin2 {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(0);
    }
}




.ex-12-button:hover .ex-12-bottom-white {
    animation: pulsante 2s linear;
}


@keyframes pulsante {
    0% {
        right: 50%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 50%;
    }
}
